<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <link href="/static/sma.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="row justify-content-center">
            <audio id="audioPlayer" src="" controls style="display: none;"></audio>

            <div class="col-12 col-lg-2 button-area">
                <button type="button" id="blue-button" class="btn mt-5" style="background-color: rgb(65, 65, 238);">Blue</button>
                <button type="button" id="gray-button" class="btn mt-5" style="background-color: rgb(132, 132, 147);">Gray</button>
                <button type="button" id="green-button" class="btn mt-5" style="background-color:rgb(6, 120, 18)">Green</button>
                <button type="button" id="light-blue-button" class="btn mt-5" style="background-color:rgb(94, 232, 240)">Light Blue</button>
                <button type="button" id="red-button" class="btn mt-5" style="background-color:rgb(219, 34, 34)">Red</button>
                <button type="button" id="yellow-button" class="btn mt-5" style="background-color:rgb(236, 251, 34)">Yellow</button>
                <button type="button" id="white-button" class="btn mt-5" style="background-color:rgb(237, 237, 237)">White</button>
                <button type="button" id="black-button" class="btn mt-5" style="background-color:rgb(61, 61, 64)">Black</button>
            </div>

            <div class="col-12 col-lg-8">
                <div id="messages" class="chat-container overflow-auto mt-5">
                    <div class="message incoming-message">
                        <div class="d-flex align-items-center">
                            <img src="/static/Grion.jpg" alt="Grion Icon" class="rounded-circle mx-1 my-1" width="50" height="50">
                            <div class="user mx-3">Grion</div>
                        </div>
                        <div class="text">Hello! Let's start to talk!</div>
                    </div>
                    <div class="message-input">
                        <div id="infoText" class="info-text">
                            Change the color of the red button to blue.<br>
                            Please enter [information] into the form.<br>
                            Please change the position of the input form and yellow button.<br>
                            Add a new button element.<br>
                            Delete a button element.<br>
                            Delete a new button element.<br>
                            Please play cube animation.<br>
                            Make the part [information] in bold.<br>
                            Could you please write an article on the following [information]?<br>
                            Describe this image.<br>
                        </div>
                        <button type="button" id="information" class="btn-info original-btn"><i class="bi bi-info-circle-fill"></i></button>
                        <form id="chat-form" class="d-flex flex-grow-1" enctype="multipart/form-data">
                            <textarea id="message" name="message" class="form-control" placeholder="Type your message..." rows="1"></textarea>
                            <label for="image_file" id="add_file" class="btn-file original-btn rounded mx-1">
                                <i class="bi bi-file-earmark-plus-fill"></i>
                                <input type="file" name="image_file" id="image_file" class="form-control" accept=".jpg, .jpeg, .png, .heic" style="display: none;" onchange="checkFileSize(this)">
                            </label>
                            <button type="submit" class="btn-chat original-btn rounded"><i class="bi bi-chat-dots-fill"></i></button>
                        </form>
                        <button type="button" id="record" class="btn-record original-btn"><i class="bi bi-mic-fill"></i></button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-2">
                <input type="text" id="text-form" class="form-control mt-5" width="50" height="50" placeholder="Type your AI message...">
                <section id="wrapper" class="mt-5">
                    <div id="anime_test"></div>
                </section>
                <p class="ex-sentence" id="StarWars-text">
                    Star Wars is an American epic space opera media franchise created by George Lucas, which began with the eponymous 1977 film and quickly became a worldwide pop culture phenomenon.
                    Star Wars is one of the highest-grossing media franchises of all time.
                </p>
            </div>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>